<div class="g-row">
  <div class="g-col">
    <task-form create-task="tasks.actions.createTask(title)"></task-form>
  </div>

  <div class="g-col">
    <ul class="task-filters">
      <li><a ng-class="{'active': tasks.selectedFilter === undefined}" ui-sref="app.tasks({filter: ''})" ui-sref-opts="{reload: false, notify: false}">View All</a></li>
      <li><a ng-class="{'active': tasks.selectedFilter === 'active'}" ui-sref="app.tasks({filter: 'active'})" ui-sref-opts="{reload: false, notify: false}">Active</a></li>
      <li><a ng-class="{'active': tasks.selectedFilter === 'completed'}" ui-sref="app.tasks({filter: 'completed'})" ui-sref-opts="{reload: false, notify: false}" >Completed</a></li>
    </ul>
  </div>

  <div class="g-col">
    <div class="task-list">
      <task-item
        model="task"
        delete-task="tasks.actions.deleteTask(task)"
        update-task="tasks.actions.updateTask(task)"
        ng-repeat="task in tasks.list | filterTasks:tasks.selectedFilter track by $index"></task-item>
    </div>
  </div>
</div>
